.background{
    background-image: url('../img/background.png');
    background-size: cover;
    width : 100vw;
    background-repeat: none;
    background-position: center top;
    padding-top: 1.5vw;
   
}