.nav_menu{
    position: absolute;
    width: 88.05px;
    height: 90.54px;
}

.nav_login{
    position: absolute;
    width: 177.37px;
    height: 86.82px;
}

.nav_logo{
    position: absolute;
    width: 170.82px;
    height: 49.19px;
}